@yellow: #fffa19;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;;
}

.jumbotron{
    background-color: cornflowerblue;
    color: black;
    .margenes(50px, 0px);
}

.btn {
    background-color: black;
    color: white;
}

.card-h{
    flex: 1 200px;
    .margenes(10px, 0px);
}

.btn-ver{ 
    width: 100%;
    border-radius: 0px;
}

.footer-addres-icon{
    padding-right: 10px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: cornflowerblue;
    .margenes(10px, 0px);
    color: black;
}

.footer-text{
    color: black;
}

.tab-content{
    padding-top: 10px;
}