.jumbotron {
  background-color: cornflowerblue;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
.btn {
  background-color: black;
  color: white;
}
.card-h {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-ver {
  width: 100%;
  border-radius: 0px;
}
.footer-addres-icon {
  padding-right: 10px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: cornflowerblue;
  margin-top: 10px;
  margin-bottom: 0px;
  color: black;
}
.footer-text {
  color: black;
}
.tab-content {
  padding-top: 10px;
}
