$yellow: #fffa19;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;;
}

.jumbotron{
    background-color: cornflowerblue;
    color: black;
    @include margenes(50px, 0px);
}

.btn {
    background-color: black;
    color: white;
}

.card-h{
    flex: 1 200px;
    @include margenes(10px, 0px);
}

.btn-ver{ 
    width: 100%;
    border-radius: 0px;
}

.footer-addres-icon{
    padding-right: 10px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: cornflowerblue;
    @include margenes(10px, 0px);
    color: black;
}

.footer-text{
    color: black;
}

.tab-content{
    padding-top: 10px;
}